<div>
  <h3>Recipe list:</h3>
  <button (click)="NavigateToCreatePage()" class="btn btn-info pull-right">Create new recipe</button>
  <table class="table table-bordered">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Origin</th>
      <th>Time</th>
      <th>Ingredients</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let recipe of recipes; let i=index">
      <th>{{i}}</th>
      <th>
        {{recipe.name}}
      </th>
      <th>
        {{recipe.description.charAt(51) == ' ' || recipe.description.length<51 || recipe.description.lastIndexOf(' ') == -1 ?
        recipe.description.substring(0,50) :
        recipe.description.substring(0,recipe.description.substring(0,51).lastIndexOf(' ') ) }}
      </th>
      <th>
        {{recipe.origin}}
      </th>
      <th>
        <span *ngIf="recipe.time.substring(0,2)!='00'">{{recipe.time}}</span>
        <span *ngIf="recipe.time.substring(0,2)=='00'">{{recipe.time.substring(3)}}</span>
      </th>
      <th>
        <div *ngIf="recipe.ContainingIngredients.length>3">
           <span *ngFor="let ingredient of recipe.ContainingIngredients|slice:0:3, let i=index">
            {{ingredient.ingredient}}<span *ngIf="i<recipe.ContainingIngredients.length-1">,</span>
          </span>
          ...
        </div>
        <div *ngIf="recipe.ContainingIngredients.length<4">
           <span *ngFor="let ingredient of recipe.ContainingIngredients, let i=index">
            {{ingredient.ingredient}}<span *ngIf="i<recipe.ContainingIngredients.length-1">,</span>
          </span>
        </div>
      </th>
      <th>
        <button (click)="Preview(i)" class="btn btn-warning">Preview</button>
      </th>
      <th>
        <button (click)="Remove(i)" class="btn btn-danger">X</button>
      </th>
    </tr>
    </table>
</div>
